body
{
    margin: 0px;
    padding: 0px;
}

a
{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 
{
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-weight: bold;
}

.bottom-nav a
{
    border-radius: 50px;
}

.blog-footer
{
    background-color: #f9f9f9;
}